In [1]:
# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np
import re

# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

# Librerías de visualización
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames
pd.set_option('display.max_rows', None) # ver todas las filas

In [12]:
df1 = pd.read_csv("StudentsPerformance.csv")
df2 = pd.read_csv("xAPI-Edu-Data.csv")
df3 = pd.read_excel("Emotions.xlsx")
df4 = pd.read_csv("dataset_emociones_infancia_adolescencia.csv")

In [6]:
# Funcion para realizar un EDA Básico
def eda_basico(df):
    # 🌷 Mostrar ejemplos de datos para tener una primera idea
    print('🌷 Ejemplo de datos del DF:')
    display(df.head(3))    # Primeras 3 filas
    display(df.tail(3))    # Últimas 3 filas
    display(df.sample(3))  # 3 filas aleatorias
    print('─' * 100)

    # 🌻 Número total de filas (observaciones)
    print('🌻 Número de filas:')
    print(df.shape[0])
    print('─' * 100)

    # 🌱 Número total de columnas (variables)
    print('🌱 Número de columnas:')
    print(df.shape[1])
    print('─' * 100)

    # 🌼 Información general del DataFrame (tipos, nulos, etc.)
    print('🌼 Información de la tabla:')
    display(df.info())
    print('─' * 100)

    # 🌑 Lista con los nombres de las columnas
    print('🌑 Nombre de las columnas:')
    print(df.columns.tolist())
    print('─' * 100)

    # 🍄 Estadísticas descriptivas de columnas numéricas
    print('🍄 Descripción de los datos numéricos:')
    display(df.describe().T)
    print('─' * 100)

    # 🌋 Estadísticas descriptivas de columnas categóricas (si existen)
    print('🌋 Descripción de los datos no-numéricos:')
    if not df.select_dtypes(include='object').empty:
        display(df.describe(include='object').T)
    else:
        print('📭 No hay columnas tipo "object" en este DataFrame.')
    print('─' * 100)

    # 🍂 Cuántos valores únicos hay en cada columna
    print('🍂 Número de valores únicos por columna:')
    display(df.nunique())
    print('─' * 100)

    # 🐖 Cuántos valores nulos hay en cada columna
    print('🐖 Valores nulos por columna:')
    display(df.isnull().sum())
    print('─' * 100)

    # 🐲 Revisión de filas duplicadas
    print('🐲 Filas duplicadas:')
    duplicados = df.duplicated().sum()
    if duplicados > 0:
        print(f'📛 Hay {duplicados} filas duplicadas.')
        display(df[df.duplicated()].head(3))
    else:
        print('✅ No hay filas duplicadas.')
    print('─' * 100)

    # 🪹 Columnas constantes (con solo un valor único)
    print('🪹 Columnas constantes (solo un valor):')
    constantes = df.columns[df.nunique() <= 1]
    if not constantes.empty:
        print(f'📌 {len(constantes)} columnas con solo un valor:')
        display(constantes.tolist())
    else:
        print('✅ No hay columnas constantes.')
    print('─' * 100)

    # 🚀 Ver valores únicos de columnas categóricas (si existen)
    print('🚀 Valores únicos en columnas categóricas:')
    cat_cols = df.select_dtypes(include='object')
    if not cat_cols.empty:
        for col in cat_cols.columns:
            print(f'🔸 {col}')
            print(cat_cols[col].unique())
            print('─' * 60)
    else:
        print('📭 No hay columnas categóricas.')
    print('─' * 100)

    # 🧬 Resumen de tipos de datos presentes en el DataFrame
    print('🧬 Tipos de datos por columna:')
    display(df.dtypes.value_counts())
    print('─' * 100)

In [7]:
eda_basico(df1)

🌷 Ejemplo de datos del DF:

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
22,male,group D,some college,standard,none,44,54,53
321,female,group E,high school,standard,none,75,86,79
85,female,group C,some college,standard,none,73,80,82

────────────────────────────────────────────────────────────────────────────────────────────────────
🌻 Número de filas:
1000
────────────────────────────────────────────────────────────────────────────────────────────────────
🌱 Número de columnas:
8
────────────────────────────────────────────────────────────────────────────────────────────────────
🌼 Información de la tabla:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

None

────────────────────────────────────────────────────────────────────────────────────────────────────
🌑 Nombre de las columnas:
['gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course', 'math score', 'reading score', 'writing score']
────────────────────────────────────────────────────────────────────────────────────────────────────
🍄 Descripción de los datos numéricos:

                count    mean        std   min    25%   50%   75%    max
math score     1000.0  66.089  15.163080   0.0  57.00  66.0  77.0  100.0
reading score  1000.0  69.169  14.600192  17.0  59.00  70.0  79.0  100.0
writing score  1000.0  68.054  15.195657  10.0  57.75  69.0  79.0  100.0

────────────────────────────────────────────────────────────────────────────────────────────────────
🌋 Descripción de los datos no-numéricos:

                            count unique           top freq
gender                       1000      2        female  518
race/ethnicity               1000      5       group C  319
parental level of education  1000      6  some college  226
lunch                        1000      2      standard  645
test preparation course      1000      2          none  642

────────────────────────────────────────────────────────────────────────────────────────────────────
🍂 Número de valores únicos por columna:

gender                          2
race/ethnicity                  5
parental level of education     6
lunch                           2
test preparation course         2
math score                     81
reading score                  72
writing score                  77
dtype: int64

────────────────────────────────────────────────────────────────────────────────────────────────────
🐖 Valores nulos por columna:

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

────────────────────────────────────────────────────────────────────────────────────────────────────
🐲 Filas duplicadas:
✅ No hay filas duplicadas.
────────────────────────────────────────────────────────────────────────────────────────────────────
🪹 Columnas constantes (solo un valor):
✅ No hay columnas constantes.
────────────────────────────────────────────────────────────────────────────────────────────────────
🚀 Valores únicos en columnas categóricas:
🔸 gender
['female' 'male']
────────────────────────────────────────────────────────────
🔸 race/ethnicity
['group B' 'group C' 'group A' 'group D' 'group E']
────────────────────────────────────────────────────────────
🔸 parental level of education
["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
────────────────────────────────────────────────────────────
🔸 lunch
['standard' 'free/reduced']
────────────────────────────────────────────────────────────
🔸 test preparation course
['none' 'completed']
────────────────────────────────────────────────────────────
────────────────────────────────────────────────────────────────────────────────────────────────────
🧬 Tipos de datos por columna:

object    5
int64     3
Name: count, dtype: int64

────────────────────────────────────────────────────────────────────────────────────────────────────

In [8]:
eda_basico(df2)

🌷 Ejemplo de datos del DF:

,Gender,Nationality,Place of birth,Educational Stages,Grade Levels,Section ID,Topic,Semester,Parent responsible for student,Raised hand,Visited resources,Viewing announcements,Discussion groups,Parent Answering Survey,ParentschoolSatisfaction,StudentAbsenceDays,Total
0,Male,KuwaIT,KuwaIT,lowerlevel,G-04,A,IT,First,Father,15,16,2,20,Yes,Good,Under-7,Middle-Level
1,Male,KuwaIT,KuwaIT,lowerlevel,G-04,A,IT,First,Father,20,20,3,25,Yes,Good,Under-7,Middle-Level
2,Male,KuwaIT,KuwaIT,lowerlevel,G-04,A,IT,First,Father,10,7,0,30,No,Bad,Above-7,Low-Level

,Gender,Nationality,Place of birth,Educational Stages,Grade Levels,Section ID,Topic,Semester,Parent responsible for student,Raised hand,Visited resources,Viewing announcements,Discussion groups,Parent Answering Survey,ParentschoolSatisfaction,StudentAbsenceDays,Total
477,Female,Jordan,Jordan,MiddleSchool,G-08,A,Geology,Second,Father,55,74,25,29,No,Bad,Under-7,Middle-Level
478,Female,Jordan,Jordan,MiddleSchool,G-08,A,History,First,Father,30,17,14,57,No,Bad,Above-7,Low-Level
479,Female,Jordan,Jordan,MiddleSchool,G-08,A,History,Second,Father,35,14,23,62,No,Bad,Above-7,Low-Level

,Gender,Nationality,Place of birth,Educational Stages,Grade Levels,Section ID,Topic,Semester,Parent responsible for student,Raised hand,Visited resources,Viewing announcements,Discussion groups,Parent Answering Survey,ParentschoolSatisfaction,StudentAbsenceDays,Total
56,Male,USA,USA,MiddleSchool,G-08,B,Math,First,Father,19,5,4,1,Yes,Good,Above-7,Low-Level
103,"Male,",KuwaIT,KuwaIT,lowerlevel,G-02,B,IT,First,Father,1,7,6,10,No,Bad,Above-7,Low-Level
346,Female,Jordan,Jordan,lowerlevel,G-02,B,French,Second,mom,24,97,15,14,No,Good,Under-7,High-Level

────────────────────────────────────────────────────────────────────────────────────────────────────
🌻 Número de filas:
480
────────────────────────────────────────────────────────────────────────────────────────────────────
🌱 Número de columnas:
17
────────────────────────────────────────────────────────────────────────────────────────────────────
🌼 Información de la tabla:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          480 non-null    object
 1   Nationality                     480 non-null    object
 2   Place of birth                  480 non-null    object
 3   Educational Stages              480 non-null    object
 4   Grade Levels                    480 non-null    object
 5   Section ID                      480 non-null    object
 6   Topic                           480 non-null    object
 7   Semester                        480 non-null    object
 8   Parent responsible for student  480 non-null    object
 9   Raised hand                     480 non-null    int64
 10  Visited resources               480 non-null    int64
 11  Viewing announcements           480 non-null    int64
 12  Discussion groups               480 non-null    int64
 13  Parent Answering Survey         480 non-null    object
 14  ParentschoolSatisfaction        480 non-null    object
 15  StudentAbsenceDays              480 non-null    object
 16  Total                           480 non-null    object
dtypes: int64(4), object(13)
memory usage: 63.9+ KB

None

────────────────────────────────────────────────────────────────────────────────────────────────────
🌑 Nombre de las columnas:
['Gender', 'Nationality', 'Place of birth', 'Educational Stages ', 'Grade Levels', 'Section ID', 'Topic', 'Semester', 'Parent responsible for student', 'Raised hand', 'Visited resources', 'Viewing announcements', 'Discussion groups', 'Parent Answering Survey', 'ParentschoolSatisfaction', 'StudentAbsenceDays', 'Total']
────────────────────────────────────────────────────────────────────────────────────────────────────
🍄 Descripción de los datos numéricos:

,count,mean,std,min,25%,50%,75%,max
Raised hand,480.0,46.775000,30.779223,0.0,15.75,50.0,75.0,100.0
Visited resources,480.0,54.797917,33.080007,0.0,20.00,65.0,84.0,99.0
Viewing announcements,480.0,37.918750,26.611244,0.0,14.00,33.0,58.0,98.0
Discussion groups,480.0,43.283333,27.637735,1.0,20.00,39.0,70.0,99.0

────────────────────────────────────────────────────────────────────────────────────────────────────
🌋 Descripción de los datos no-numéricos:

                               count unique           top freq
Gender                           480      4         Male,  160
Nationality                      480     14        KuwaIT  179
Place of birth                   480     14        KuwaIT  180
Educational Stages               480      3  MiddleSchool  248
Grade Levels                     480     10          G-02  147
Section ID                       480      3             A  283
Topic                            480     12            IT   95
Semester                         480      3         First  244
Parent responsible for student   480      2        Father  283
Parent Answering Survey          480      2           Yes  270
ParentschoolSatisfaction         480      2          Good  292
StudentAbsenceDays               480      2       Under-7  289
Total                            480      4  Middle-Level  210

────────────────────────────────────────────────────────────────────────────────────────────────────
🍂 Número de valores únicos por columna:

Gender                             4
Nationality                       14
Place of birth                    14
Educational Stages                 3
Grade Levels                      10
Section ID                         3
Topic                             12
Semester                           3
Parent responsible for student     2
Raised hand                       82
Visited resources                 89
Viewing announcements             88
Discussion groups                 90
Parent Answering Survey            2
ParentschoolSatisfaction           2
StudentAbsenceDays                 2
Total                              4
dtype: int64

────────────────────────────────────────────────────────────────────────────────────────────────────
🐖 Valores nulos por columna:

Gender                            0
Nationality                       0
Place of birth                    0
Educational Stages                0
Grade Levels                      0
Section ID                        0
Topic                             0
Semester                          0
Parent responsible for student    0
Raised hand                       0
Visited resources                 0
Viewing announcements             0
Discussion groups                 0
Parent Answering Survey           0
ParentschoolSatisfaction          0
StudentAbsenceDays                0
Total                             0
dtype: int64

────────────────────────────────────────────────────────────────────────────────────────────────────
🐲 Filas duplicadas:
📛 Hay 2 filas duplicadas.

,Gender,Nationality,Place of birth,Educational Stages,Grade Levels,Section ID,Topic,Semester,Parent responsible for student,Raised hand,Visited resources,Viewing announcements,Discussion groups,Parent Answering Survey,ParentschoolSatisfaction,StudentAbsenceDays,Total
326,"Male,",Jordan,Jordan,lowerlevel,G-02,A,French,First,Father,10,15,10,21,No,Bad,Above-7,Low-Level
327,"Male,",Jordan,Jordan,lowerlevel,G-02,A,French,Second,Father,30,10,20,5,No,Bad,Above-7,Low-Level

────────────────────────────────────────────────────────────────────────────────────────────────────
🪹 Columnas constantes (solo un valor):
✅ No hay columnas constantes.
────────────────────────────────────────────────────────────────────────────────────────────────────
🚀 Valores únicos en columnas categóricas:
🔸 Gender
['Male' 'Female' 'Male,' 'Female,']
────────────────────────────────────────────────────────────
🔸 Nationality
['KuwaIT' 'lebanon' 'Egypt' 'SaudiArabia' 'USA' 'Jordan' 'venzuela' 'Iran'
 'Tunis' 'Morocco' 'Syria' 'Palestine' 'Iraq' 'Lybia']
────────────────────────────────────────────────────────────
🔸 Place of birth
['KuwaIT' 'lebanon' 'Egypt' 'SaudiArabia' 'USA' 'Jordan' 'venzuela' 'Iran'
 'Tunis' 'Morocco' 'Syria' 'Iraq' 'Palestine' 'Lybia']
────────────────────────────────────────────────────────────
🔸 Educational Stages
['lowerlevel' 'MiddleSchool' 'HighSchool']
────────────────────────────────────────────────────────────
🔸 Grade Levels
['G-04' 'G-07' 'G-08' 'G-06' 'G-05' 'G-09' 'G-12' 'G-11' 'G-10' 'G-02']
────────────────────────────────────────────────────────────
🔸 Section ID
['A' 'B' 'C']
────────────────────────────────────────────────────────────
🔸 Topic
['IT' 'Math' 'Arabic' 'Science' 'English' 'Quran' 'Spanish' 'French'
 'History' 'Biology' 'Chemistry' 'Geology']
────────────────────────────────────────────────────────────
🔸 Semester
['First' 'Second' 'F']
────────────────────────────────────────────────────────────
🔸 Parent responsible for student
['Father' 'mom']
────────────────────────────────────────────────────────────
🔸 Parent Answering Survey
['Yes' 'No']
────────────────────────────────────────────────────────────
🔸 ParentschoolSatisfaction
['Good' 'Bad']
────────────────────────────────────────────────────────────
🔸 StudentAbsenceDays
['Under-7' 'Above-7']
────────────────────────────────────────────────────────────
🔸 Total
['Middle-Level' 'Low-Level' 'High-Level' '76']
────────────────────────────────────────────────────────────
────────────────────────────────────────────────────────────────────────────────────────────────────
🧬 Tipos de datos por columna:

object    13
int64      4
Name: count, dtype: int64

────────────────────────────────────────────────────────────────────────────────────────────────────

In [7]:
eda_basico(df3)

🌷 Ejemplo de datos del DF:

,Gender,Age,Grade,School_level,Tech_efficacy_1,Tech_efficacy_2,Tech_efficacy_3,Tech_efficacy_4,Tech_efficacy_5,Tech_efficacy_6,Tech_efficacy_7,Value_app_1,Value_app_2,Value_app_3,Value_app_4,Value_app_5,Control_app_1,Control_app_2,Control_app_3,Control_app_4,Control_app_5,Enjoyment1,Enjoyment2,Hopefulness1,Hopefulness2,Pride1,Pride2,Anxiety1,Anxiety2,Hopelessness1,Hopelessness2,Boredom1,Boredom2,Outcome_goal_1,Outcome_goal_2,Outcome_goal_3,Ability_goal_1,Ability_goal_2,Ability_goal_3,Neg_effort_1,Neg_effort_2,Neg_effort_3,Pos_effort_1,Pos_effort_2,Pos_effort_3,Tech_efficacy_aver,Control_app_aver,Value_app_aver,Enjoyment_aver,Hopefulness_aver,Pride_aver,Anger_aver,Anxiety_aver,Shame_aver,Hopelessness_aver,Boredom_aver,Outcome_goal_aver,Ability_goal_aver,Neg_effort_aver,Pos_effort_aver
0,0,11,4,1,5,5,5,5,4,4,5,4,5,5,4,5,5,4,5,4,5,5,4,4,5,2,2,2,2,2,2,2,2,5,5,4,4,5,5,4,5,4,4,4,5,4.50,4.5,4.6,4.5,4.5,2.0,2.0,2.0,2.0,2.0,2.0,4.666667,4.666667,4.333333,4.333333
1,0,11,4,1,5,5,5,5,5,4,5,5,4,4,4,4,4,5,5,4,5,4,4,4,4,4,5,2,2,2,2,2,2,5,5,5,5,5,5,3,5,2,5,5,5,4.75,4.5,4.2,4.0,4.0,4.5,4.5,2.0,2.0,2.0,2.0,5.000000,5.000000,3.333333,5.000000
2,0,10,4,1,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,2,2,2,2,2,1,4,5,4,4,4,4,4,2,3,4,4,4,4.00,4.0,4.0,4.0,4.0,4.0,2.0,2.0,2.5,2.0,1.5,4.333333,4.000000,3.000000,4.000000

,Gender,Age,Grade,School_level,Tech_efficacy_1,Tech_efficacy_2,Tech_efficacy_3,Tech_efficacy_4,Tech_efficacy_5,Tech_efficacy_6,Tech_efficacy_7,Value_app_1,Value_app_2,Value_app_3,Value_app_4,Value_app_5,Control_app_1,Control_app_2,Control_app_3,Control_app_4,Control_app_5,Enjoyment1,Enjoyment2,Hopefulness1,Hopefulness2,Pride1,Pride2,Anxiety1,Anxiety2,Hopelessness1,Hopelessness2,Boredom1,Boredom2,Outcome_goal_1,Outcome_goal_2,Outcome_goal_3,Ability_goal_1,Ability_goal_2,Ability_goal_3,Neg_effort_1,Neg_effort_2,Neg_effort_3,Pos_effort_1,Pos_effort_2,Pos_effort_3,Tech_efficacy_aver,Control_app_aver,Value_app_aver,Enjoyment_aver,Hopefulness_aver,Pride_aver,Anger_aver,Anxiety_aver,Shame_aver,Hopelessness_aver,Boredom_aver,Outcome_goal_aver,Ability_goal_aver,Neg_effort_aver,Pos_effort_aver
2937,0,14,9,3,4,5,5,5,5,4,4,4,4,4,5,4,4,4,3,4,2,4,4,4,4,4,4,2,2,2,2,2,2,4,5,4,5,5,5,1,2,3,4,4,4,4.5,3.5,4.2,4.0,4.0,4.0,2.0,2.0,2.0,2.0,2.0,4.333333,5.0,2.000000,4.000000
2938,0,14,9,3,3,4,4,4,4,4,4,3,4,4,4,3,3,4,4,4,3,3,3,4,3,4,4,3,1,1,1,1,1,3,3,3,3,3,3,2,2,3,3,3,3,4.0,3.5,3.6,3.0,3.5,4.0,1.0,2.0,1.0,1.0,1.0,3.000000,3.0,2.333333,3.000000
2939,1,14,9,3,5,5,5,3,5,5,5,5,5,5,5,4,5,5,5,5,5,5,5,5,5,5,5,2,2,1,2,1,2,5,5,5,5,2,2,1,2,1,4,4,5,4.5,5.0,4.8,5.0,5.0,5.0,5.0,2.0,2.0,1.5,1.5,5.000000,3.0,1.333333,4.333333

,Gender,Age,Grade,School_level,Tech_efficacy_1,Tech_efficacy_2,Tech_efficacy_3,Tech_efficacy_4,Tech_efficacy_5,Tech_efficacy_6,Tech_efficacy_7,Value_app_1,Value_app_2,Value_app_3,Value_app_4,Value_app_5,Control_app_1,Control_app_2,Control_app_3,Control_app_4,Control_app_5,Enjoyment1,Enjoyment2,Hopefulness1,Hopefulness2,Pride1,Pride2,Anxiety1,Anxiety2,Hopelessness1,Hopelessness2,Boredom1,Boredom2,Outcome_goal_1,Outcome_goal_2,Outcome_goal_3,Ability_goal_1,Ability_goal_2,Ability_goal_3,Neg_effort_1,Neg_effort_2,Neg_effort_3,Pos_effort_1,Pos_effort_2,Pos_effort_3,Tech_efficacy_aver,Control_app_aver,Value_app_aver,Enjoyment_aver,Hopefulness_aver,Pride_aver,Anger_aver,Anxiety_aver,Shame_aver,Hopelessness_aver,Boredom_aver,Outcome_goal_aver,Ability_goal_aver,Neg_effort_aver,Pos_effort_aver
2410,0,13,8,3,5,5,5,5,5,4,4,4,4,5,5,4,4,4,5,5,3,4,5,5,5,5,5,1,2,1,1,1,1,5,5,5,2,5,4,1,2,3,4,3,5,4.50,4.0,4.4,4.5,5.0,5.0,1.0,1.5,1.5,1.0,1.0,5.000000,3.666667,2.000000,4.000000
2722,1,15,9,1,4,4,4,4,4,4,3,4,4,4,4,4,3,3,4,4,2,3,4,4,4,3,4,2,2,2,2,2,2,3,4,4,4,4,4,2,3,2,4,4,4,3.75,3.0,4.0,3.5,4.0,3.5,2.0,2.0,3.0,2.0,2.0,3.666667,4.000000,2.333333,4.000000
1674,0,12,6,3,4,5,5,5,5,4,4,5,4,4,5,4,5,5,4,3,3,4,4,5,5,5,5,1,1,1,1,1,1,5,5,5,5,5,5,5,5,4,5,4,4,4.50,4.0,4.4,4.0,5.0,5.0,1.0,1.0,1.5,1.0,1.0,5.000000,5.000000,4.666667,4.333333

────────────────────────────────────────────────────────────────────────────────────────────────────
🌻 Número de filas:
2940
────────────────────────────────────────────────────────────────────────────────────────────────────
🌱 Número de columnas:
60
────────────────────────────────────────────────────────────────────────────────────────────────────
🌼 Información de la tabla:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2940 entries, 0 to 2939
Data columns (total 60 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Gender              2940 non-null   int64
 1   Age                 2940 non-null   int64
 2   Grade               2940 non-null   int64
 3   School_level        2940 non-null   int64
 4   Tech_efficacy_1     2940 non-null   int64
 5   Tech_efficacy_2     2940 non-null   int64
 6   Tech_efficacy_3     2940 non-null   int64
 7   Tech_efficacy_4     2940 non-null   int64
 8   Tech_efficacy_5     2940 non-null   int64
 9   Tech_efficacy_6     2940 non-null   int64
 10  Tech_efficacy_7     2940 non-null   int64
 11  Value_app_1         2940 non-null   int64
 12  Value_app_2         2940 non-null   int64
 13  Value_app_3         2940 non-null   int64
 14  Value_app_4         2940 non-null   int64
 15  Value_app_5         2940 non-null   int64
 16  Control_app_1       2940 non-null   int64
 17  Control_app_2       2940 non-null   int64
 18  Control_app_3       2940 non-null   int64
 19  Control_app_4       2940 non-null   int64
 20  Control_app_5       2940 non-null   int64
 21  Enjoyment1          2940 non-null   int64
 22  Enjoyment2          2940 non-null   int64
 23  Hopefulness1        2940 non-null   int64
 24  Hopefulness2        2940 non-null   int64
 25  Pride1              2940 non-null   int64
 26  Pride2              2940 non-null   int64
 27  Anxiety1            2940 non-null   int64
 28  Anxiety2            2940 non-null   int64
 29  Hopelessness1       2940 non-null   int64
 30  Hopelessness2       2940 non-null   int64
 31  Boredom1            2940 non-null   int64
 32  Boredom2            2940 non-null   int64
 33  Outcome_goal_1      2940 non-null   int64
 34  Outcome_goal_2      2940 non-null   int64
 35  Outcome_goal_3      2940 non-null   int64
 36  Ability_goal_1      2940 non-null   int64
 37  Ability_goal_2      2940 non-null   int64
 38  Ability_goal_3      2940 non-null   int64
 39  Neg_effort_1        2940 non-null   int64
 40  Neg_effort_2        2940 non-null   int64
 41  Neg_effort_3        2940 non-null   int64
 42  Pos_effort_1        2940 non-null   int64
 43  Pos_effort_2        2940 non-null   int64
 44  Pos_effort_3        2940 non-null   int64
 45  Tech_efficacy_aver  2940 non-null   float64
 46  Control_app_aver    2940 non-null   float64
 47  Value_app_aver      2940 non-null   float64
 48  Enjoyment_aver      2940 non-null   float64
 49  Hopefulness_aver    2940 non-null   float64
 50  Pride_aver          2940 non-null   float64
 51  Anger_aver          2940 non-null   float64
 52  Anxiety_aver        2940 non-null   float64
 53  Shame_aver          2940 non-null   float64
 54  Hopelessness_aver   2940 non-null   float64
 55  Boredom_aver        2940 non-null   float64
 56  Outcome_goal_aver   2940 non-null   float64
 57  Ability_goal_aver   2940 non-null   float64
 58  Neg_effort_aver     2940 non-null   float64
 59  Pos_effort_aver     2940 non-null   float64
dtypes: float64(15), int64(45)
memory usage: 1.3 MB

None

────────────────────────────────────────────────────────────────────────────────────────────────────
🌑 Nombre de las columnas:
['Gender', 'Age', 'Grade', 'School_level', 'Tech_efficacy_1', 'Tech_efficacy_2', 'Tech_efficacy_3', 'Tech_efficacy_4', 'Tech_efficacy_5', 'Tech_efficacy_6', 'Tech_efficacy_7', 'Value_app_1', 'Value_app_2', 'Value_app_3', 'Value_app_4', 'Value_app_5', 'Control_app_1', 'Control_app_2', 'Control_app_3', 'Control_app_4', 'Control_app_5', 'Enjoyment1', 'Enjoyment2', 'Hopefulness1', 'Hopefulness2', 'Pride1', 'Pride2', 'Anxiety1', 'Anxiety2', 'Hopelessness1', 'Hopelessness2', 'Boredom1', 'Boredom2', 'Outcome_goal_1', 'Outcome_goal_2', 'Outcome_goal_3', 'Ability_goal_1', 'Ability_goal_2', 'Ability_goal_3', 'Neg_effort_1', 'Neg_effort_2', 'Neg_effort_3', 'Pos_effort_1', 'Pos_effort_2', 'Pos_effort_3', 'Tech_efficacy_aver', 'Control_app_aver', 'Value_app_aver', 'Enjoyment_aver', 'Hopefulness_aver', 'Pride_aver', 'Anger_aver', 'Anxiety_aver', 'Shame_aver', 'Hopelessness_aver', 'Boredom_aver', 'Outcome_goal_aver', 'Ability_goal_aver', 'Neg_effort_aver', 'Pos_effort_aver']
────────────────────────────────────────────────────────────────────────────────────────────────────
🍄 Descripción de los datos numéricos:

,count,mean,std,min,25%,50%,75%,max
Gender,2940.0,0.513265,0.499909,0.0,0.000000,1.000000,1.000000,1.0
Age,2940.0,12.209524,1.677558,9.0,11.000000,12.000000,14.000000,17.0
Grade,2940.0,6.274150,1.698130,4.0,5.000000,6.000000,8.000000,9.0
School_level,2940.0,1.956122,0.822725,1.0,1.000000,2.000000,3.000000,3.0
Tech_efficacy_1,2940.0,3.697619,1.179700,1.0,3.000000,4.000000,5.000000,5.0
Tech_efficacy_2,2940.0,4.380272,0.680966,1.0,4.000000,4.000000,5.000000,5.0
Tech_efficacy_3,2940.0,4.451701,0.629366,1.0,4.000000,5.000000,5.000000,5.0
Tech_efficacy_4,2940.0,4.439796,0.644907,1.0,4.000000,5.000000,5.000000,5.0
Tech_efficacy_5,2940.0,4.219388,0.776373,1.0,4.000000,4.000000,5.000000,5.0
Tech_efficacy_6,2940.0,4.122789,0.794390,1.0,4.000000,4.000000,5.000000,5.0
Tech_efficacy_7,2940.0,3.899320,0.913808,1.0,3.000000,4.000000,5.000000,5.0
Value_app_1,2940.0,4.180952,0.776863,1.0,4.000000,4.000000,5.000000,5.0
Value_app_2,2940.0,4.314626,0.715828,1.0,4.000000,4.000000,5.000000,5.0
Value_app_3,2940.0,4.196939,0.775381,1.0,4.000000,4.000000,5.000000,5.0
Value_app_4,2940.0,4.359864,0.699794,1.0,4.000000,4.000000,5.000000,5.0
Value_app_5,2940.0,4.194898,0.773701,1.0,4.000000,4.000000,5.000000,5.0
Control_app_1,2940.0,3.795578,0.917514,1.0,3.000000,4.000000,5.000000,5.0
Control_app_2,2940.0,3.998299,0.824718,1.0,3.000000,4.000000,5.000000,5.0
Control_app_3,2940.0,4.018367,0.837414,1.0,4.000000,4.000000,5.000000,5.0
Control_app_4,2940.0,3.968027,0.906855,1.0,3.000000,4.000000,5.000000,5.0
Control_app_5,2940.0,3.313946,1.160954,1.0,3.000000,3.000000,4.000000,5.0
Enjoyment1,2940.0,3.991156,0.902488,1.0,4.000000,4.000000,5.000000,5.0
Enjoyment2,2940.0,4.146599,0.793349,1.0,4.000000,4.000000,5.000000,5.0
Hopefulness1,2940.0,4.144218,0.816813,1.0,4.000000,4.000000,5.000000,5.0
Hopefulness2,2940.0,4.132993,0.814758,1.0,4.000000,4.000000,5.000000,5.0
Pride1,2940.0,3.862245,0.902005,1.0,3.000000,4.000000,5.000000,5.0
Pride2,2940.0,3.992857,0.857060,1.0,4.000000,4.000000,5.000000,5.0
Anxiety1,2940.0,1.806463,0.906458,1.0,1.000000,2.000000,2.000000,5.0
Anxiety2,2940.0,1.778571,0.890930,1.0,1.000000,2.000000,2.000000,5.0
Hopelessness1,2940.0,1.604082,0.777173,1.0,1.000000,1.000000,2.000000,5.0
Hopelessness2,2940.0,1.575510,0.749784,1.0,1.000000,1.000000,2.000000,5.0
Boredom1,2940.0,1.733673,0.856984,1.0,1.000000,2.000000,2.000000,5.0
Boredom2,2940.0,1.684354,0.814775,1.0,1.000000,2.000000,2.000000,5.0
Outcome_goal_1,2940.0,4.265306,0.742219,1.0,4.000000,4.000000,5.000000,5.0
Outcome_goal_2,2940.0,4.564286,0.555479,1.0,4.000000,5.000000,5.000000,5.0
Outcome_goal_3,2940.0,3.952381,0.986698,1.0,4.000000,4.000000,5.000000,5.0
Ability_goal_1,2940.0,4.151361,0.810707,1.0,4.000000,4.000000,5.000000,5.0
Ability_goal_2,2940.0,4.140136,0.802400,1.0,4.000000,4.000000,5.000000,5.0
Ability_goal_3,2940.0,4.222789,0.756749,1.0,4.000000,4.000000,5.000000,5.0
Neg_effort_1,2940.0,1.960884,1.028763,1.0,1.000000,2.000000,2.000000,5.0
Neg_effort_2,2940.0,2.253741,1.107171,1.0,1.000000,2.000000,3.000000,5.0
Neg_effort_3,2940.0,3.106122,1.188709,1.0,2.000000,3.000000,4.000000,5.0
Pos_effort_1,2940.0,4.181633,0.732051,1.0,4.000000,4.000000,5.000000,5.0
Pos_effort_2,2940.0,4.216667,0.766557,1.0,4.000000,4.000000,5.000000,5.0
Pos_effort_3,2940.0,4.072789,0.852198,1.0,4.000000,4.000000,5.000000,5.0
Tech_efficacy_aver,2940.0,4.170323,0.658043,1.0,3.750000,4.000000,4.750000,5.0
Control_app_aver,2940.0,3.768963,0.763225,1.0,3.250000,3.750000,4.250000,5.0
Value_app_aver,2940.0,4.249456,0.631219,1.0,4.000000,4.200000,4.800000,5.0
Enjoyment_aver,2940.0,4.068878,0.803362,1.0,4.000000,4.000000,5.000000,5.0
Hopefulness_aver,2940.0,4.138605,0.772809,1.0,4.000000,4.000000,5.000000,5.0
Pride_aver,2940.0,3.927551,0.845815,1.0,3.500000,4.000000,4.500000,5.0
Anger_aver,2940.0,1.637925,0.826332,1.0,1.000000,1.000000,2.000000,5.0
Anxiety_aver,2940.0,1.792517,0.853497,1.0,1.000000,2.000000,2.000000,5.0
Shame_aver,2940.0,2.072789,0.890180,1.0,1.000000,2.000000,3.000000,5.0
Hopelessness_aver,2940.0,1.589796,0.747866,1.0,1.000000,1.000000,2.000000,5.0
Boredom_aver,2940.0,1.709014,0.808851,1.0,1.000000,2.000000,2.000000,5.0
Outcome_goal_aver,2940.0,4.260658,0.612623,1.0,4.000000,4.000000,5.000000,5.0
Ability_goal_aver,2940.0,4.171429,0.681762,1.0,4.000000,4.000000,5.000000,5.0
Neg_effort_aver,2940.0,2.440249,0.827501,1.0,2.000000,2.333333,3.000000,5.0
Pos_effort_aver,2940.0,4.157029,0.656971,1.0,3.666667,4.000000,4.666667,5.0

────────────────────────────────────────────────────────────────────────────────────────────────────
🌋 Descripción de los datos no-numéricos:
📭 No hay columnas tipo "object" en este DataFrame.
────────────────────────────────────────────────────────────────────────────────────────────────────
🍂 Número de valores únicos por columna:

Gender                 2
Age                    9
Grade                  6
School_level           3
Tech_efficacy_1        5
Tech_efficacy_2        5
Tech_efficacy_3        5
Tech_efficacy_4        5
Tech_efficacy_5        5
Tech_efficacy_6        5
Tech_efficacy_7        5
Value_app_1            5
Value_app_2            5
Value_app_3            5
Value_app_4            5
Value_app_5            5
Control_app_1          5
Control_app_2          5
Control_app_3          5
Control_app_4          5
Control_app_5          5
Enjoyment1             5
Enjoyment2             5
Hopefulness1           5
Hopefulness2           5
Pride1                 5
Pride2                 5
Anxiety1               5
Anxiety2               5
Hopelessness1          5
Hopelessness2          5
Boredom1               5
Boredom2               5
Outcome_goal_1         5
Outcome_goal_2         5
Outcome_goal_3         5
Ability_goal_1         5
Ability_goal_2         5
Ability_goal_3         5
Neg_effort_1           5
Neg_effort_2           5
Neg_effort_3           5
Pos_effort_1           5
Pos_effort_2           5
Pos_effort_3           5
Tech_efficacy_aver    17
Control_app_aver      17
Value_app_aver        18
Enjoyment_aver         9
Hopefulness_aver       9
Pride_aver             8
Anger_aver             9
Anxiety_aver           9
Shame_aver             9
Hopelessness_aver      9
Boredom_aver           9
Outcome_goal_aver     11
Ability_goal_aver     13
Neg_effort_aver       13
Pos_effort_aver       13
dtype: int64

────────────────────────────────────────────────────────────────────────────────────────────────────
🐖 Valores nulos por columna:

Gender                0
Age                   0
Grade                 0
School_level          0
Tech_efficacy_1       0
Tech_efficacy_2       0
Tech_efficacy_3       0
Tech_efficacy_4       0
Tech_efficacy_5       0
Tech_efficacy_6       0
Tech_efficacy_7       0
Value_app_1           0
Value_app_2           0
Value_app_3           0
Value_app_4           0
Value_app_5           0
Control_app_1         0
Control_app_2         0
Control_app_3         0
Control_app_4         0
Control_app_5         0
Enjoyment1            0
Enjoyment2            0
Hopefulness1          0
Hopefulness2          0
Pride1                0
Pride2                0
Anxiety1              0
Anxiety2              0
Hopelessness1         0
Hopelessness2         0
Boredom1              0
Boredom2              0
Outcome_goal_1        0
Outcome_goal_2        0
Outcome_goal_3        0
Ability_goal_1        0
Ability_goal_2        0
Ability_goal_3        0
Neg_effort_1          0
Neg_effort_2          0
Neg_effort_3          0
Pos_effort_1          0
Pos_effort_2          0
Pos_effort_3          0
Tech_efficacy_aver    0
Control_app_aver      0
Value_app_aver        0
Enjoyment_aver        0
Hopefulness_aver      0
Pride_aver            0
Anger_aver            0
Anxiety_aver          0
Shame_aver            0
Hopelessness_aver     0
Boredom_aver          0
Outcome_goal_aver     0
Ability_goal_aver     0
Neg_effort_aver       0
Pos_effort_aver       0
dtype: int64

────────────────────────────────────────────────────────────────────────────────────────────────────
🐲 Filas duplicadas:
📛 Hay 35 filas duplicadas.

,Gender,Age,Grade,School_level,Tech_efficacy_1,Tech_efficacy_2,Tech_efficacy_3,Tech_efficacy_4,Tech_efficacy_5,Tech_efficacy_6,Tech_efficacy_7,Value_app_1,Value_app_2,Value_app_3,Value_app_4,Value_app_5,Control_app_1,Control_app_2,Control_app_3,Control_app_4,Control_app_5,Enjoyment1,Enjoyment2,Hopefulness1,Hopefulness2,Pride1,Pride2,Anxiety1,Anxiety2,Hopelessness1,Hopelessness2,Boredom1,Boredom2,Outcome_goal_1,Outcome_goal_2,Outcome_goal_3,Ability_goal_1,Ability_goal_2,Ability_goal_3,Neg_effort_1,Neg_effort_2,Neg_effort_3,Pos_effort_1,Pos_effort_2,Pos_effort_3,Tech_efficacy_aver,Control_app_aver,Value_app_aver,Enjoyment_aver,Hopefulness_aver,Pride_aver,Anger_aver,Anxiety_aver,Shame_aver,Hopelessness_aver,Boredom_aver,Outcome_goal_aver,Ability_goal_aver,Neg_effort_aver,Pos_effort_aver
463,1,10,4,2,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,1,1,1,1,1,1,5,5,5,5,5,5,1,1,5,5,5,5,5.0,5.0,5.0,5.0,5.0,5.0,1.0,1.0,1.0,1.0,1.0,5.0,5.0,2.333333,5.0
477,0,10,4,2,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,1,1,1,1,1,1,5,5,5,5,5,5,1,1,5,5,5,5,5.0,5.0,5.0,5.0,5.0,5.0,1.0,1.0,1.0,1.0,1.0,5.0,5.0,2.333333,5.0
718,0,10,5,2,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,1,1,1,1,1,1,5,5,5,5,5,5,1,1,1,5,5,5,5.0,5.0,5.0,5.0,5.0,5.0,1.0,1.0,3.0,1.0,1.0,5.0,5.0,1.000000,5.0

────────────────────────────────────────────────────────────────────────────────────────────────────
🪹 Columnas constantes (solo un valor):
✅ No hay columnas constantes.
────────────────────────────────────────────────────────────────────────────────────────────────────
🚀 Valores únicos en columnas categóricas:
📭 No hay columnas categóricas.
────────────────────────────────────────────────────────────────────────────────────────────────────
🧬 Tipos de datos por columna:

int64      45
float64    15
Name: count, dtype: int64

────────────────────────────────────────────────────────────────────────────────────────────────────

In [13]:
eda_basico(df4)

🌷 Ejemplo de datos del DF:

,edad,género,nivel_autocontrol,nivel_empático,habilidad_regulación,autoestima,autoconciencia,regulación_estrés,ansiedad,motivación_académica,rendimiento,satisfacción_escolar,apoyo_familiar,relaciones_sociales,atención_clase,bienestar_general
0,12,Niña,4.89,3.36,6.86,6.83,6.41,6.63,8.84,9.40,5.88,5.13,7.57,6.64,5.54,6.70
1,9,Niño,4.04,6.09,8.77,7.23,9.56,5.53,3.46,5.71,6.05,8.97,10.00,7.75,9.30,7.59
2,16,Niña,8.11,6.70,4.23,4.76,6.52,4.18,3.91,7.86,6.09,6.80,9.41,7.47,3.99,6.50

,edad,género,nivel_autocontrol,nivel_empático,habilidad_regulación,autoestima,autoconciencia,regulación_estrés,ansiedad,motivación_académica,rendimiento,satisfacción_escolar,apoyo_familiar,relaciones_sociales,atención_clase,bienestar_general
1197,9,Niña,3.38,6.65,5.83,7.43,6.27,5.51,2.30,8.07,6.26,7.54,7.01,8.12,7.70,6.60
1198,10,Niño,7.16,8.29,4.85,5.75,6.03,4.62,3.14,9.25,7.22,6.13,7.45,6.61,6.13,6.37
1199,13,Niña,3.91,7.39,3.39,5.97,6.90,4.37,4.15,7.66,6.04,5.89,7.09,8.73,4.96,6.04

,edad,género,nivel_autocontrol,nivel_empático,habilidad_regulación,autoestima,autoconciencia,regulación_estrés,ansiedad,motivación_académica,rendimiento,satisfacción_escolar,apoyo_familiar,relaciones_sociales,atención_clase,bienestar_general
445,10,Niño,6.55,6.50,4.85,8.13,7.16,7.44,5.35,8.02,7.44,5.53,7.07,7.72,7.34,7.01
358,8,Niña,5.23,5.71,9.19,5.94,5.90,4.53,4.56,6.26,6.82,5.90,7.68,6.94,2.32,6.35
1114,12,Niño,8.08,3.09,7.08,6.77,6.34,5.50,5.13,5.92,8.52,5.48,10.00,6.49,6.98,6.82

────────────────────────────────────────────────────────────────────────────────────────────────────
🌻 Número de filas:
1200
────────────────────────────────────────────────────────────────────────────────────────────────────
🌱 Número de columnas:
16
────────────────────────────────────────────────────────────────────────────────────────────────────
🌼 Información de la tabla:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   edad                  1200 non-null   int64
 1   género                1200 non-null   object
 2   nivel_autocontrol     1200 non-null   float64
 3   nivel_empático        1200 non-null   float64
 4   habilidad_regulación  1200 non-null   float64
 5   autoestima            1200 non-null   float64
 6   autoconciencia        1200 non-null   float64
 7   regulación_estrés     1200 non-null   float64
 8   ansiedad              1200 non-null   float64
 9   motivación_académica  1200 non-null   float64
 10  rendimiento           1200 non-null   float64
 11  satisfacción_escolar  1200 non-null   float64
 12  apoyo_familiar        1200 non-null   float64
 13  relaciones_sociales   1200 non-null   float64
 14  atención_clase        1200 non-null   float64
 15  bienestar_general     1200 non-null   float64
dtypes: float64(14), int64(1), object(1)
memory usage: 150.1+ KB

None

────────────────────────────────────────────────────────────────────────────────────────────────────
🌑 Nombre de las columnas:
['edad', 'género', 'nivel_autocontrol', 'nivel_empático', 'habilidad_regulación', 'autoestima', 'autoconciencia', 'regulación_estrés', 'ansiedad', 'motivación_académica', 'rendimiento', 'satisfacción_escolar', 'apoyo_familiar', 'relaciones_sociales', 'atención_clase', 'bienestar_general']
────────────────────────────────────────────────────────────────────────────────────────────────────
🍄 Descripción de los datos numéricos:

,count,mean,std,min,25%,50%,75%,max
edad,1200.0,11.438333,3.500439,6.00,8.0000,11.000,15.0000,17.00
nivel_autocontrol,1200.0,6.024058,1.528264,1.00,4.9700,6.080,7.1000,10.00
nivel_empático,1200.0,6.519575,1.420593,1.96,5.5900,6.550,7.4800,10.00
habilidad_regulación,1200.0,5.995183,1.635560,1.00,4.9075,5.980,7.1000,10.00
autoestima,1200.0,6.801383,1.201515,2.35,5.9400,6.840,7.6400,10.00
autoconciencia,1200.0,6.324233,1.291982,2.32,5.4600,6.300,7.2025,10.00
regulación_estrés,1200.0,5.798575,1.622331,1.00,4.6900,5.800,6.9025,10.00
ansiedad,1200.0,4.762058,1.923880,1.00,3.4200,4.780,6.0925,10.00
motivación_académica,1200.0,6.698308,1.484925,2.64,5.6400,6.740,7.7025,10.00
rendimiento,1200.0,6.942250,1.312890,2.87,6.0300,6.950,7.8300,10.00
satisfacción_escolar,1200.0,6.877275,1.380923,2.56,5.9100,6.845,7.8900,10.00
apoyo_familiar,1200.0,7.513800,1.164363,3.66,6.7000,7.500,8.2625,10.00
relaciones_sociales,1200.0,7.032917,1.219753,2.96,6.2100,7.010,7.8725,10.00
atención_clase,1200.0,6.427317,1.563614,1.00,5.3300,6.480,7.5125,10.00
bienestar_general,1200.0,6.562758,0.465736,4.85,6.2600,6.560,6.8500,8.26

────────────────────────────────────────────────────────────────────────────────────────────────────
🌋 Descripción de los datos no-numéricos:

       count unique   top freq
género  1200      2  Niña  611

────────────────────────────────────────────────────────────────────────────────────────────────────
🍂 Número de valores únicos por columna:

edad                     12
género                    2
nivel_autocontrol       530
nivel_empático          490
habilidad_regulación    542
autoestima              443
autoconciencia          461
regulación_estrés       546
ansiedad                572
motivación_académica    505
rendimiento             463
satisfacción_escolar    483
apoyo_familiar          421
relaciones_sociales     449
atención_clase          526
bienestar_general       220
dtype: int64

────────────────────────────────────────────────────────────────────────────────────────────────────
🐖 Valores nulos por columna:

edad                    0
género                  0
nivel_autocontrol       0
nivel_empático          0
habilidad_regulación    0
autoestima              0
autoconciencia          0
regulación_estrés       0
ansiedad                0
motivación_académica    0
rendimiento             0
satisfacción_escolar    0
apoyo_familiar          0
relaciones_sociales     0
atención_clase          0
bienestar_general       0
dtype: int64

────────────────────────────────────────────────────────────────────────────────────────────────────
🐲 Filas duplicadas:
✅ No hay filas duplicadas.
────────────────────────────────────────────────────────────────────────────────────────────────────
🪹 Columnas constantes (solo un valor):
✅ No hay columnas constantes.
────────────────────────────────────────────────────────────────────────────────────────────────────
🚀 Valores únicos en columnas categóricas:
🔸 género
['Niña' 'Niño']
────────────────────────────────────────────────────────────
────────────────────────────────────────────────────────────────────────────────────────────────────
🧬 Tipos de datos por columna:

float64    14
int64       1
object      1
Name: count, dtype: int64

────────────────────────────────────────────────────────────────────────────────────────────────────